# Last.fm API Configuration
# 
# Get your API key from: https://www.last.fm/api/account/create
# Your username is your Last.fm profile username

LASTFM_USER=Nostrada_
LASTFM_API_KEY=b376056c0ce84c106b7ca53fb2b42cd2
